<%= simple_form_for(@note) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :comment %>
    <%= f.input :date %>
    <%= f.input :status, collection: Note::STATUS, prompt: "- Select status" %>
  </div>
    
    <div class="field">
    <%= f.hidden_field :job_id, value: @job.id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
