
<div class="row">
	<div class="col-md-7">
			<table>
				<tbody>
					<tr>
						<td>
								&nbsp
							<h3 id="title">Did you apply for a job and can't remember if you sent a follow-up email or not? Make notes related to your job application process on the left hand side after your apply! You can edit and delete notes at anytime.</h3>
								&nbsp
							<h3 id="title"><strong><%= @job.job_title %></strong></h3>
							<h4 id="title"><%= @job.company %> - <%= @job.location %></h4>
							&nbsp
							<p id="title"><%= @job.description %>...</p>
							&nbsp
							<h4 id="title">Posted On: <%= @job.date.strftime("%m-%d-%Y") %></h4>
							&nbsp
							<h4 id="title">
							<%= link_to "View Listing on Indeed.com", @job.url, target: "_blank" %>
						</h4>
							<p id="title">
								<span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>
							</p>
						</td>
					</tr>
				</tbody>
			</div>
		</table>
	</div>
	<div class="col-md-4">
		<div class="well" id="left">
			<h3>Notes</h3>
				<%= render 'notes/form' %>
			</p>
				</div>
	</div>
</div>

<div class="container" id="center-it">
<div class="row">
	<% @job.notes.each do |note| %>
	<div class="col-md-4">
		<div class="well">
		<h3><strong><%= note.name %></strong></h4>
		<h5><strong>Comment:</strong> <%= note.comment %></h5>
		<h5><strong>Date:</strong> <%= note.date %></h5>
		<h5><strong>Status:</strong> <%= note.status %></h5>
		<%=link_to edit_note_path(note) do %>
    <span><i class="fa fa-pencil fa-fw"></i> Edit Note</span>
    <% end %>
    <%=link_to note, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <span class="pull-right"><i class="fa fa-trash fa-fw"></i> Delete Note</span>
    <% end %>
	</div>
</div>
<% end %>
</div>
</div>

		

