<div class="row">
	<div class="col-md-7">
			<table>
				<tbody>
					<tr>
						<td>
							<h3 id="title"><%= @job.job_title %></h3>
							<h4 id="title"><%= @job.company %> - <%= @job.location %></h4>
							<p id="title"><%= @job.description %></p>
							<p id="title">Posted On: <%= @job.date.strftime("%m-%d-%Y") %></p>
							<p id="title">
							<%= link_to "View Listing on Indeed.com", @job.url, target: "_blank", class: "btn btn-default" %>
						</p>
							<p id="title">
								<span id=indeed_at><a href="http://www.indeed.com/">jobs</a> by <a href="http://www.indeed.com/" title="Job Search"><img src="http://www.indeed.com/p/jobsearch.gif" style="border: 0; vertical-align: middle;" alt="Indeed job search"></a></span>
							</p>
						</td>
					</tr>
				</tbody>
			</div>
		</table>
	</div>
	<div class="col-md-4">
		<div class="well" id="left">
			<h3>Notes</h3>
				<%= render 'notes/form' %>
			</p>
				</div>
	</div>
</div>

<div class="row">
	<% @job.notes.each do |note| %>
	<div class="col-md-4">
		<div class="well">
		<p><%= note.name %></p>
		<p><%= note.comment %></p>
		<p><%= note.date %></p>
		<p><%= note.status %></p>
		<%= link_to 'Edit', edit_note_path(note) %>
	</div>
</div>
<% end %>
</div>
		

