<!DOCTYPE html>
<html>
<head>
  <title>JobHunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
  <script type="text/javascript"
src="http://gdc.indeed.com/ads/apiresults.js"></script>
                                    
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "JobHunt", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to root_path do %>
          <span class="fa fa-home fa-fw"></span>Home
          <% end %>
        </li>
        <li>
          <%= link_to about_path do %>
          <span class="fa fa-book fa-fw"></span>How Does It Work
          <% end %>
        </li>
        <li>
          <%= link_to search_job_path do %>
          <span class="fa fa-search fa-fw"></span>Search Jobs
          <% end %>
        </li>
        <% if user_signed_in? %>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog fa-fw"></i>Your Account <span class="fa fa-caret-down"></span></a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to show_user_path(current_user) do %>
              <span class="fa fa-user fa-fw"></span>Profile
              <% end %>
            </li>
             <% if user_signed_in? %>
             <li>
              <%= link_to dashboard_path do %>
              <span class="fa fa-align-justify fa-fw"></span>Dashboard
              <% end %>
            </li>
             <li>
              <%= link_to edit_user_registration_path do %>
              <span class="fa fa-pencil fa-fw"></span>Edit Profile
              <% end %>
            </li>
             <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
              <span class="fa fa-sign-out fa-fw"></span>Sign Out
              <% end %>
            </li>
             <% end %>
             <% else %>
             <li>
              <%= link_to new_user_session_path do %>
              <span class="fa fa-sign-in fa-fw"></span>Sign In
              <% end %>
            </li>
             <%end%>
           </ul>
      </ul>
       <!-- <li><%= link_to "Contact", contact_path %></li> -->
</div>
</nav>

	<%= yield %>

<div class="footer">
  <div class="row">
  <div class="col-md-3 col-md-offset-1">
    <h3>JobHunt</h3>
    <p>Optimize your job search</p>
    <p> &copy; Copyright 2015</p>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <h3>CONTACT US</h3>
    <p>1-(844)-555-HUNT</p>
    <p>support@jobhunt.com</p>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <h3>FOLLOW US</h3>
    <p>Visit us on social media!</p>
    <h4><i class="fa fa-facebook-square"></i>  <i class="fa fa-twitter-square"></i>  <i class="fa fa-instagram"></i></h4>
  </div>
</div>
</div>



</body>
</html>